/* @font-face {
  font-family: "Seven Swordsmen BB, sans-serif";
  src: url("./fonts/SEVESBRG.woff");
} */

/* @font-face {
  font-family: 'Oxygen';
  src: local('Oxygen'), url(../fonts/Oxygen/Oxygen-Regular.ttf) format('truetype');
} */

/* @font-face {
    font-family: "Founders Grotesk Text";
    src: url("../theme/fonts/FoundersGroteskText-Medium.otf");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Mackinac Pro Medium";
    src: url("../theme/fonts/mackinac-pro-medium/P22MackinacProMedium.eot"),
      url("../theme/fonts/mackinac-pro-medium/P22MackinacProMedium.woff")
        format("woff");
  } */
